<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>rooms</title>

    <script type="text/javascript" th:src="@{/js/engine/player.js}"></script>
    <script type="text/javascript" th:src="@{/js/engine/controller.js}"></script>
    <script type="text/javascript" th:src="@{/js/engine/room.js}"></script>
    <script type="text/javascript" th:src="@{/js/engine/gun.js}"></script>
    <script type="text/javascript" th:src="@{/js/engine/init.js}"></script>

    <script type="text/javascript" th:src="@{/js/PreloadJS-0.6.2/lib/preloadjs-0.6.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/EaselJS-0.8.2/lib/easeljs-0.8.2.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/sockjs-client-master/dist/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/stomp-websocket-master/lib/stomp.min.js}"></script>
</head>

<body>
    <h2>
        <a th:href="@{/}">main</a>
    </h2>

    <canvas id="canvas" width="1920" height="1080" oncontextmenu="return false;"></canvas>
    <br/><button id='connect'>connect</button><button id='disconnect'>disconnect</button>
    <script th:inline="javascript">
        let world = /*[[@{/img/bioms/desert/}]]*/ '';
        let chars = /*[[@{/img/characters/}]]*/ '';
        let guns = /*[[@{/img/guns/}]]*/ '';
        let playerName = /*[[${player_name}]]*/ '';
        let roomId = /*[[${room_id}]]*/ '';

        let init = window.init = new Initialiser(world, chars, guns, playerName, roomId);
        eval(/*[[${init_script}]]*/);
        document.getElementById('connect').addEventListener('click', function() {init.connect()});
        document.getElementById('disconnect').addEventListener('click', function() {init.disconnect()});
    </script>
</body>
</html>